@model DTO.clsTemperaturaConNombreInvernadero

@{
    ViewData["Title"] = "Details";
}
<!--
<h1>Detalles</h1>
-->
<div>
    <h2 class="text-center">Invernadero Seleccionado</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreInvernadero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreInvernadero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Model.Fecha.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Temp1)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Temp1}ºC")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Temp2)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Temp2}ºC")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Temp3)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Temp3}ºC")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humedad1)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Humedad1}%")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humedad2)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Humedad2}%")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humedad3)
        </dt>
        <dd class="col-sm-10">
            @($"{Model.Humedad3}%")
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Index" method="post">
    <input type="hidden" name="idInvernadero" value="@Model.IdInvernadero" />
    <input type="hidden" name="fecha" value="@Model.Fecha.ToString("yyyy-MM-dd")" />
    <button type="submit" class="btn btn-primary">Seleccionar otro Invernadero</button>
</form>
</div>
