@using ENT
@model ASP.Models.VM.clsSeleccionarInvernaderoVM

@{
    ViewData["Title"] = "Seleccionar Invernadero";
}

<h2 class="text-center">Seleccionar Invernadero y Fecha</h2>
<hr />

<!--asp-action puede ser "Index"" o ""-->
<form asp-action="Index" asp-controller="Home" method="post" class="mt-4">
    <div class="form-group">
        <label for="idInvernadero">Invernadero</label>

        <select class="form-control" id="idInvernadero" name="idInvernadero">

            @foreach (clsInvernadero invernadero in Model.ListadoInvernaderos)
            {
                if (Model.IdInvernaderoSeleccionado != invernadero.IdInvernadero)
                {
                    <option value="@invernadero.IdInvernadero">@invernadero.Nombre</option>
                }
                else
                {
                    <option value="@invernadero.IdInvernadero" selected>@invernadero.Nombre</option>
                }
            }

        </select>
    </div>

    <div class="form-group mt-3">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control w-auto" id="fecha" name="fecha" value="@Model.FechaSeleccionada.ToString("yyyy-MM-dd")" />
    </div>

    @if (ViewBag.MostrarError == true)
    {
        <div class="alert alert-warning mt-3 text-center" role="alert">
            <p>No se encuentran datos para ese Invernadero y/o dicha Fecha</p>

            <p>Pista: Todos los Invernaderos tienen registros de Temperatura desde el 29 de Abril hasta el 5 de Mayo de 2025</p>
        </div>
    }

    <div class="form-group text-center mt-4">
        <input type="submit" value="Detalles" class="btn btn-primary" />
    </div>
</form>


